* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(15, 15, 15);
    display: flex;
    justify-content: center;
}

.bd1 {
    /* max-width: 600px; */
    width: 90%;
}

header {
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /* margin: ; */
}

nav {
    font-family: 'Courier New', Courier, monospace;

    background-color: rgba(218, 197, 167, 0.05);
    backdrop-filter: blur(30px);
    border: 0.1px solid rgb(65, 60, 54);
    border-radius: 2px;
    width: 40vw;
    height: 70px;
    position: fixed;
    z-index: 1;
    /* top: 100px; */

    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav h1 {
    color: rgb(153, 130, 103);
    font-size: 28px;
    margin-left: 20px;
    /* display: block; */
}



.container-ul {
    display: flex;

}

.container-ul li {
    list-style-type: none;
    padding: 7px;
    font-size: 16px;
    font-weight: 900;
    color: rgb(153, 130, 103);
}

.container-ul li a{
    text-decoration: none;
    color: rgb(153, 130, 103);
}

nav button {
    margin-right: 20px;
    padding: 10px 15px 10px 15px;
    font-size: 14px;
    font-weight: normal;
    border: none;

    color: rgb(22, 22, 22);
    background-color: rgba(218, 197, 167);
}

.maind {
    display: flex;
    justify-content: center;
}

#maind2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#maind3 {
    height: 510px;
    width: 510px;

    display: flex;
    justify-content: center;
}

#maind3 img {
    height: 100%;
    width: 100%;
    margin-top: 50px;
}

#maind2 h1 {
    color: rgb(153, 130, 103);
    /* width: 00px; */
    font-size: 40px;
    font-family: "Open Sans", sans-serif;
    font-size: 150px;
    font-style: italic;
    margin-top: 35px;
    font-weight: 350;
    line-height: 150px;
    text-align: center;
}

#maind2 p {
    color: rgb(153, 130, 103);
    text-align: center;
    margin-top: 20px;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
}

.art1 {
    margin-top: 100px;
}


#art12 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .vector{
    display: flex;
    justify-self: flex-end;
    margin-right: 100px;
}

.vector svg{
    height: 100px;
    background-color: rgb(153, 130, 103);
} */
/* #art11 svg {
    height: 100px;
    transform: ;
    background-color: rgb(153, 130, 103);
} */

#art11 {
    height: 170px;
    width: 170px;
    background-color: rgba(218, 197, 167, .05);
    border: 0.1px solid rgb(65, 60, 54);
    border-radius: 100px;
    background-image: url(./pictures/ChatGPT\ Image\ Sep\ 2\,\ 2025\,\ 09_41_07\ PM.png);
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center center;
}

#art13 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#art13 h3 {
    color: rgb(153, 130, 103);
    font-size: 45px;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    text-align: center;
    margin-top: 20px;
}

#art13 p {
    color: rgb(153, 130, 103);
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
    font-family: "Open Sans", sans-serif;
}


.art2 {
    font-family: "Open Sans", sans-serif;
}

.art21 {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

#art22 {
    width: auto;
    height: auto;
    background-color: rgba(218, 197, 167, .05);
    border: 0.1px solid rgb(65, 60, 54);
    border-radius: 2px;
    /* margin-left: 50px; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}
/* #wor{
    height: auto;
    width: auto;
} */

#ar1 {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    color: rgb(153, 130, 103);
    margin: 50px;
}

#arp1 {
    font-weight: 500;
}

#ar1 h2 {
    font-weight: 500;
    margin-top: 5px;
    font-size: 28px;
}

#arp2 {
    margin-top: 15px;
}

#art221 {
    display: flex;
    margin-top: 25px;
    align-items: center;
}

#art222 {
    background-color: rgba(218, 197, 167, 0.05);
    backdrop-filter: blur(30px);
    border: 0.1px solid rgb(65, 60, 54);
    color: rgb(153, 130, 103);
    height: 35px;
    width: 35px;
    border-radius: 100px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 18px;
}

#art222 p {
    transform: rotate(-140deg);
}

#art221 h3 {
    font-weight: 700;
    font-size: 14px;
}





#art23 {
    width: auto;
    height: auto;
    background-color: rgba(218, 197, 167, .05);
    border: 0.1px solid rgb(65, 60, 54);
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#ard2 {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    color: rgb(153, 130, 103);
    margin: 50px;
}

#arp231 {
    font-weight: 500;
}

#ard2 h2 {
    font-weight: 500;
    margin-top: 5px;
    font-size: 28px;
}

#arp232 {
    margin-top: 15px;
}

#art231 {
    display: flex;
    margin-top: 25px;
    align-items: center;
}

#art232 {
    background-color: rgba(218, 197, 167, 0.05);
    backdrop-filter: blur(30px);
    border: 0.1px solid rgb(65, 60, 54);
    color: rgb(153, 130, 103);
    height: 35px;
    width: 35px;
    border-radius: 100px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 18px;
}

#art232 p {
    transform: rotate(-140deg);
}

#art231 h3 {
    font-weight: 700;
    font-size: 14px;
}



#art24 {
    width: auto;
    height: auto;
    background-color: rgba(218, 197, 167, .05);
    border: 0.1px solid rgb(65, 60, 54);
    border-radius: 2px;
    /* margin-right: 50px; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

#ard3 {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    color: rgb(153, 130, 103);
    margin: 50px;
}

#arp241 {
    font-weight: 500;
}

#ard3 h2 {
    font-weight: 500;
    margin-top: 5px;
    font-size: 28px;
}

#arp242 {
    margin-top: 15px;
}

#art241 {
    display: flex;
    margin-top: 25px;
    align-items: center;
}

#art242 {
    background-color: rgba(218, 197, 167, 0.05);
    backdrop-filter: blur(30px);
    border: 0.1px solid rgb(65, 60, 54);
    color: rgb(153, 130, 103);
    height: 35px;
    width: 35px;
    border-radius: 100px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 18px;
}

#art242 p {
    transform: rotate(-140deg);
}

#art241 h3 {
    font-weight: 700;
    font-size: 14px;
}



.art31 {
    height: auto;
    width: 100%;
    margin-top: 100px;
}

.art31 h2 {
    color: rgb(153, 130, 103);
    font-size: 50px;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 350;
    font-style: italic;

}

#art34 {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}

#art32 {
    height: 400px;
    width: 585px;
    background-color: rgba(218, 197, 167, .05);
    border: 0.1px solid rgb(65, 60, 54);
    background-image: url(./pictures/beautiful-shot-famous-roman-colosseum-amphitheater-breathtaking-sky-sunrise.jpg);
    background-size: 150%;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    align-items: flex-end;
    justify-content: center;

    font-family: "Open Sans", sans-serif;
    margin-right: 20px;
}

#art321 {
    width: 520px;
    height: 60px;
    background-color: rgba(218, 197, 167, .05);
    border: 0.1px solid rgb(65, 60, 54);
    backdrop-filter: blur(30px);
    border: 0.1px solid rgb(65, 60, 54);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

#art321 h3 {
    color: white;
    margin-left: 20px;
    font-weight: 700;
    font-size: 22px;
}

#art321 p {
    color: white;
    margin-right: 20px;
    font-weight: 750;
    font-size: 14px;
}


#art33 {
    height: 400px;
    width: 585px;
    background-color: rgba(218, 197, 167, .05);
    border: 0.1px solid rgb(65, 60, 54);
    background-image: url(./pictures/view-ancient-roman-colosseum-arena.jpg);
    background-size: 175%;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    align-items: flex-end;
    justify-content: center;

    font-family: "Open Sans", sans-serif;
}

#art331 {
    width: 520px;
    height: 60px;
    background-color: rgba(218, 197, 167, .05);
    border: 0.1px solid rgb(65, 60, 54);
    backdrop-filter: blur(30px);
    border: 0.1px solid rgb(65, 60, 54);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

#art331 h3 {
    color: white;
    margin-left: 20px;
    font-weight: 700;
    font-size: 22px;
}

#art331 p {
    color: white;
    margin-right: 20px;
    font-weight: 750;
    font-size: 14px;
}

.pp {
    display: flex;
    align-items: center;
    justify-self: center;
    margin-top: 50px;
}

.art31 p {
    font-size: 16px;
    font-weight: 900;
    color: rgb(153, 130, 103);
    font-family: "Open Sans", sans-serif;
    margin-right: 20px;
}

#arrow {
    background-color: rgba(218, 197, 167, 0.05);
    backdrop-filter: blur(30px);
    border: 0.1px solid rgb(65, 60, 54);
    color: rgb(153, 130, 103);
    height: 40px;
    width: 40px;
    border-radius: 100px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(-140deg);
}


.art4 {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.art41 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.art41 h2 {
    color: rgb(153, 130, 103);
    font-size: 45px;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    font-style: italic;
    /* text-align: center; */
}

.art41 p {
    color: rgb(153, 130, 103);
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    font-family: "Open Sans", sans-serif;
}



#input1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 40px;
}

#inp1 {
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
}

#id1 {
    font-size: 18px;
    color: rgb(153, 130, 103);
    height: 55px;
    width: 500px;
    border: 0.1px solid rgb(65, 60, 54);
    border-radius: 2px;
    background-color: rgba(218, 197, 167, .05);
    margin-top: 10px;
}

#input2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
}

#inp2 {
    font-size: 18px;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
}

#id2 {
    font-size: 18px;
    color: rgb(153, 130, 103);
    height: 55px;
    width: 500px;
    border: 0.1px solid rgb(65, 60, 54);
    border-radius: 2px;
    background-color: rgba(218, 197, 167, .05);
    margin-top: 10px;
}


#input3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
}

#inp3 {
    font-size: 18px;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
}

#id3 {
    font-size: 18px;
    color: rgb(153, 130, 103);
    height: 55px;
    width: 500px;
    border: 0.1px solid rgb(65, 60, 54);
    border-radius: 2px;
    background-color: rgba(218, 197, 167, .05);
    margin-top: 10px;
}



#input4 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
}

#inp4 {
    font-size: 18px;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
}

#id4 {
    font-size: 18px;
    color: rgb(153, 130, 103);
    height: 100px;
    width: 500px;
    border: 0.1px solid rgb(65, 60, 54);
    border-radius: 2px;
    background-color: rgba(218, 197, 167, .05);
    margin-top: 10px;
}

.butt{
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    font-family: "Opens Sans", sans-serif;
}

#b1{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    /* background-color: rgb(218, 197, 167); */
    background-color: rgb(218, 197, 167);
    color: rgb(22, 22, 22);
    font-size: 18px;
    width: 240px;
    height: 60px;
    border: 0.1px solid rgb(65, 60, 54);
    border-radius: 2px;  
    font-weight: normal; 
}

#b2 {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    /* background-color: rgb(218, 197, 167); */
    background-color: rgba(218, 197, 167, .05);
    width: 240px;
    height: 60px;
    border: 0.1px solid rgb(65, 60, 54);
    border-radius: 2px;
}

#i2 {
    height: 30px;
    width: 30px;
    background-color: rgba(218, 197, 167, .05);
    border: 0.1px solid rgb(65, 60, 54);
    border-radius: 100px;
    background-image: url(./pictures/ChatGPT\ Image\ Sep\ 2\,\ 2025\,\ 09_41_07\ PM.png);
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center center;
}

#i3{
    height: 30px;
    width: 30px;
    background-color: rgba(218, 197, 167, .05);
    border: 0.1px solid rgb(65, 60, 54);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#b2 #i2{
    margin-right: 7px;
}

#b2 #ip1{
    margin-right: 7px;
    color: rgb(153, 130, 103);
    font-weight: 600;
}

#b2 #i31{
    font-size: 10px;
    /* margin-bottom: 18px; */
    color: rgb(153, 130, 103);
}

#b2 #ip2{
    color: rgb(153, 130, 103);
    margin-left: 7px;
    font-size: 16px;
    display: flex;
    align-self: center;
    font-weight: 600;
}

FOOTER{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.ft1{
    margin-top: 100px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Opens Sans", sans-serif;
}

#ft3{
    width: 98.9vw;
    height: 50px;
    background-color: rgba(218, 197, 167, .05);
    border-bottom: 0.1px solid rgb(65, 60, 54);
    border-top: 0.1px solid rgb(65, 60, 54);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#ft2{
    margin-top: 70px;
    height: 150px;
    width: 150px;
    background-color: rgba(218, 197, 167, .05);
    border: 0.1px solid rgb(65, 60, 54);
    border-radius: 100px;
    background-image: url(./pictures/ChatGPT\ Image\ Sep\ 2\,\ 2025\,\ 09_41_07\ PM.png);
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center center;
}

.ft1 h3{
    font-size: 18px;
    color: rgb(153, 130, 103);
    font-weight: 500;
    margin-top: 10px;
}

.ft1 h2{
    color: rgb(153, 130, 103);
    font-size: 70px;
    font-weight: 350;
    font-style: italic;
    margin-top: 50px;
    text-align: center;
}

.ft1 button{
    background-color: rgb(218, 197, 167);
    border: none;
    /* background-size: ; */
    height: 40px;
    width: 150px;
    margin-top: 20px;
    font-family: "Opens Sans", sans-serif;
    color: rgb(22, 22, 22);
    font-weight: normal;
    font-size: 16px;
}



#md1{
    margin-top: 70px;
    height: 40px;
    width: 40px;
    background-color: rgba(218, 197, 167, .05);
    border: 0.1px solid rgb(65, 60, 54);
    border-radius: 100px;
    background-image: url(./pictures/ChatGPT\ Image\ Sep\ 2\,\ 2025\,\ 09_41_07\ PM.png);
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center center;
    margin-bottom: 70px;
    margin-left: 20px;
}

#md2{
    margin-top: 70px;
    height: 40px;
    width: 40px;
    background-color: rgba(218, 197, 167, .05);
    border: 0.1px solid rgb(65, 60, 54);
    border-radius: 100px;
    background-image: url(./pictures/ChatGPT\ Image\ Sep\ 2\,\ 2025\,\ 09_41_07\ PM.png);
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center center;
    margin-bottom: 70px;
}


#md3{
    margin-top: 70px;
    height: 40px;
    width: 40px;
    background-color: rgba(218, 197, 167, .05);
    border: 0.1px solid rgb(65, 60, 54);
    border-radius: 100px;
    background-image: url(./pictures/ChatGPT\ Image\ Sep\ 2\,\ 2025\,\ 09_41_07\ PM.png);
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center center;
    margin-bottom: 70px;

}


#md4{
    margin-top: 70px;
    height: 40px;
    width: 40px;
    background-color: rgba(218, 197, 167, .05);
    border: 0.1px solid rgb(65, 60, 54);
    border-radius: 100px;
    background-image: url(./pictures/ChatGPT\ Image\ Sep\ 2\,\ 2025\,\ 09_41_07\ PM.png);
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center center;
    margin-bottom: 70px;

}


#md5{
    margin-top: 70px;
    height: 40px;
    width: 40px;
    background-color: rgba(218, 197, 167, .05);
    border: 0.1px solid rgb(65, 60, 54);
    border-radius: 100px;
    background-image: url(./pictures/ChatGPT\ Image\ Sep\ 2\,\ 2025\,\ 09_41_07\ PM.png);
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center center;
    margin-bottom: 70px;

}



#md6{
    margin-top: 70px;
    height: 40px;
    width: 40px;
    background-color: rgba(218, 197, 167, .05);
    border: 0.1px solid rgb(65, 60, 54);
    border-radius: 100px;
    background-image: url(./pictures/ChatGPT\ Image\ Sep\ 2\,\ 2025\,\ 09_41_07\ PM.png);
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center center;
    margin-bottom: 70px;
}




#md7{
    margin-top: 70px;
    height: 40px;
    width: 40px;
    background-color: rgba(218, 197, 167, .05);
    border: 0.1px solid rgb(65, 60, 54);
    border-radius: 100px;
    background-image: url(./pictures/ChatGPT\ Image\ Sep\ 2\,\ 2025\,\ 09_41_07\ PM.png);
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center center;
    margin-bottom: 70px;
}



#md8{
    margin-top: 70px;
    height: 40px;
    width: 40px;
    background-color: rgba(218, 197, 167, .05);
    border: 0.1px solid rgb(65, 60, 54);
    border-radius: 100px;
    background-image: url(./pictures/ChatGPT\ Image\ Sep\ 2\,\ 2025\,\ 09_41_07\ PM.png);
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center center;
    margin-bottom: 70px;
}



#md9{
    margin-top: 70px;
    height: 40px;
    width: 40px;
    background-color: rgba(218, 197, 167, .05);
    border: 0.1px solid rgb(65, 60, 54);
    border-radius: 100px;
    background-image: url(./pictures/ChatGPT\ Image\ Sep\ 2\,\ 2025\,\ 09_41_07\ PM.png);
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center center;
    margin-bottom: 70px;

}



#md10{
    margin-top: 70px;
    height: 40px;
    width: 40px;
    background-color: rgba(218, 197, 167, .05);
    border: 0.1px solid rgb(65, 60, 54);
    border-radius: 100px;
    background-image: url(./pictures/ChatGPT\ Image\ Sep\ 2\,\ 2025\,\ 09_41_07\ PM.png);
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center center;
    margin-bottom: 70px;
    margin-right: 20px;
}

.fl1{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 150px;
    margin-bottom: 70px;

}

.fl1 hr{
    display: flex;
    /* width: px; */
}


.b01{
    color: rgb(153, 130, 103);
    font-family: "Open Sans", sans-serif;
    display: flex;
    flex-direction: column;

}

.b01 h4{
    font-size: 16px;
}

.b01 p{
    margin-top: 10px;
    font-size: 18px;
    font-weight: 600;
}

.b02{
    color: rgb(153, 130, 103);
    font-family: "Open Sans", sans-serif;
    margin-left: -190px;
}

.b02 h4{
    font-size: 16px;
}

.b02 p{
    margin-top: 10px;
    font-size: 18px;
    font-weight: 600;
}

.b03{
    color: rgb(153, 130, 103);
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    margin-left: -190px;
}


.b03 #cl2{
    margin-top: 10px;
}

.b03 svg{
    border: 0.1px solid rgb(65, 60, 54);
    padding: 5px;
}

#a1{
    margin-right: 3px;
}

#a2{
    margin-right: 3px;
}
#a3{
    margin-right: 3px;
}


@media only screen and (min-width: 1500px){

    .bd1{
        width: 50%;
    }


    .container-ul li{
        padding: 25px;
    }


    #input1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 40px;
}

#inp1 {
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
}

#id1 {
    font-size: 18px;
    color: rgb(153, 130, 103);
    height: 60px;
    width: 700px;
    border: 0.1px solid rgb(65, 60, 54);
    border-radius: 2px;
    background-color: rgba(218, 197, 167, .05);
    margin-top: 10px;
}

#input2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
}

#inp2 {
    font-size: 18px;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
}

#id2 {
    font-size: 18px;
    color: rgb(153, 130, 103);
    height: 60px;
    width: 700px;
    border: 0.1px solid rgb(65, 60, 54);
    border-radius: 2px;
    background-color: rgba(218, 197, 167, .05);
    margin-top: 10px;
}


#input3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
}

#inp3 {
    font-size: 18px;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
}

#id3 {
    font-size: 18px;
    color: rgb(153, 130, 103);
    height: 60px;
    width: 700px;
    border: 0.1px solid rgb(65, 60, 54);
    border-radius: 2px;
    background-color: rgba(218, 197, 167, .05);
    margin-top: 10px;
}



#input4 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
}

#inp4 {
    font-size: 18px;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
}

#id4 {
    font-size: 18px;
    color: rgb(153, 130, 103);
    height: 120px;
    width: 700px;
    border: 0.1px solid rgb(65, 60, 54);
    border-radius: 2px;
    background-color: rgba(218, 197, 167, .05);
    margin-top: 10px;
}

.butt{
    width: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    font-family: "Opens Sans", sans-serif;
}

#b1{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    /* background-color: rgb(218, 197, 167); */
    background-color: rgb(218, 197, 167);
    color: rgb(22, 22, 22);
    font-size: 18px;
    width: 240px;
    height: 60px;
    border: 0.1px solid rgb(65, 60, 54);
    border-radius: 2px;  
    font-weight: normal; 
}

#b2 {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    /* background-color: rgb(218, 197, 167); */
    background-color: rgba(218, 197, 167, .05);
    width: 240px;
    height: 60px;
    border: 0.1px solid rgb(65, 60, 54);
    border-radius: 2px;
}

#i2 {
    height: 30px;
    width: 30px;
    background-color: rgba(218, 197, 167, .05);
    border: 0.1px solid rgb(65, 60, 54);
    border-radius: 100px;
    background-image: url(./pictures/ChatGPT\ Image\ Sep\ 2\,\ 2025\,\ 09_41_07\ PM.png);
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center center;
}

#i3{
    height: 30px;
    width: 30px;
    background-color: rgba(218, 197, 167, .05);
    border: 0.1px solid rgb(65, 60, 54);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#b2 #i2{
    margin-right: 7px;
}

#b2 #ip1{
    margin-right: 7px;
    color: rgb(153, 130, 103);
    font-weight: 600;
}

#b2 #i31{
    font-size: 10px;
    /* margin-bottom: 18px; */
    color: rgb(153, 130, 103);
}

#b2 #ip2{
    color: rgb(153, 130, 103);
    margin-left: 7px;
    font-size: 16px;
    display: flex;
    align-self: center;
    font-weight: 600;
}


}


